 <p>hi {{name}}</p>
 <p>you are {{age}} years old</p>
 <p>welcome to my home page</p>
 {{#if iscompleted}}

 <p>hi {{name}} you can smokee</p>
 {{else}}
  <p>hi {{name}} you can not smokee</p>
 {{/if}}
 {{iscompleted}}